name: Release Binary

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: calcr
            asset_name: calcr-linux
          - os: windows-latest
            artifact_name: calcr.exe
            asset_name: calcr-windows.exe

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release

      - name: Upload Binary
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/${{ matrix.artifact_name }}
          # Esto le pone nombres distintos para que no se choquen
          name: Release ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
