name: Release Binary

on:
  push:
    tags:
      - 'v*' # Se activa cuando creas un tag como v1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release

      - name: Upload Binary
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/calcr # El nombre de tu binario
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
